.app-header {
  padding: 1rem 1.5rem;
  padding-left: 4.25rem;
  background: #333;
  color: #fff;
  background-image: url('/assets/images/qsl-sm.png');
  background-position: 0.75rem center;
  background-repeat: no-repeat;
  background-size: 2.75rem;

  h1 {
    margin: 0;
    font-size: 1.25rem;
    font-weight: normal;

    span {
      margin-top: 0.15rem;
      display: block;
      font-size: 0.85rem;
      opacity: 0.75;
    }
  }
}