.app-header {
  padding: 1rem;
  border-bottom: 3px solid #fcba19;
  background: #003366;
  color: #fff;
  background-position: 0.75rem center;
  background-repeat: no-repeat;
  background-size: 2.75rem;

  h1 {
    margin: 0;
    font-size: 1rem;
    font-weight: normal;

    span {
      margin-top: 0.15rem;
      display: block;
      font-size: 0.85rem;
      opacity: 0.75;
    }
  }
}