
<!-- Search-->
<div class="searchbox">
  <div class="searchbox__input">
    <input class="form-control" type="text" placeholder="Search Directory" id="contactSearchInput" [(ngModel)]="searchString" />
    <button role="button" class="clear-btn btn btn-light" id="contactSearchBtn" (click)="clearContactSearch()">
      <i class="material-icons">close</i>
    </button>
  </div>
</div>

<!-- Contact List -->
<div class="contact-list">
  <ul class="list-group">
    <li *ngFor="let contact of contacts | contactFilter : searchString" class="contact-card list-group-item">
      <div class="contact-card__details">
        <div class="contact-card__name">{{contact.name}}</div>
        <div class="contact-card__org">{{contact.title}}, {{contact.organization}}</div>
      </div>
      <div class="contact-card__actions">
        <a class="btn btn-outline-primary" href="mailto:{{contact.email}}">
          <i class="material-icons">email</i>
          <span class="btn-label">{{contact.email}}</span>
        </a>
        <a class="btn btn-outline-primary" href="tel:{{contact.phone}}">
          <i class="material-icons">phone</i>
          <span class="btn-label">{{contact.phone}}</span>
        </a>
        <button class="btn btn-outline-primary">
          <i class="material-icons">
            perm_contact_calendar
          </i>
        </button>
      </div>
    </li>
  </ul>
</div>
